//all CSS below taken from http://bl.ocks.org/mbostock/5562380

svg {
  font: 10px sans-serif;
}

.caption {
  font-weight: bold;
}

.key path {
  display: none;
}

.key line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.county-border {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
}


